<p style="text-align: center;">Informações Para Compra:</p>
<p style="text-align: center;"></p>
<p style="text-align: center;">Cada unidade se refere a {mt} metros inteiros do tecido. Exemplo:</p>
<p style="text-align: center;">1und = {mt:,.0f}m x {self.largura}m</p>
<p style="text-align: center;">2und = {mt * 2 :,.0f}m x {self.largura}m</p>
<p style="text-align: center;">3und = {mt * 3 :,.0f}m x {self.largura}m</p>
<p style="text-align: center;"></p>
<p style="text-align: center;">E assim por adiante. Os tecidos serão enviados inteiros sem corte.</p>
<p style="text-align: center;">Não cortamos medidas em centímetros como 3,50m, 4,50m, etc.</p>
<p style="text-align: center;"></p>'''

info_tec = f'''<p style="text-align: center;">Informações do Tecido:</p>
<p style="text-align: center;">{self.palavra_chave}</p>
<p style="text-align: center;">Composição: {self.composicao}</p>
<p style="text-align: center;">Largura: {self.largura} Metros</p>
<p style="text-align: center;"></p>
<p style="text-align: center;"></p>